body {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	margin:0;
}

.topliens{
	float:right;
	margin:30px;
}
.lien {
	color: white;
	text-decoration:underline;	
}

.headerbg{
	margin:auto;
	width:max-width;
	
background: -moz-linear-gradient(top, #09aac1 0%, #ffffff 88%, #ffffff 100%, #ffffff 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top, #09aac1 0%,#ffffff 88%,#ffffff 100%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom, #09aac1 0%,#ffffff 88%,#ffffff 100%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.logo{
	margin:30px;
}

.buttonConnexion {
    background-image: url('../images/icones/bouton.png');
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    width: 180px;
    height: 57px;
}