.border{
	border-style: solid;
    border-width: 1px;
    border-color: #FF9F07;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 160px;
}

.excel{
	position: relative;
	width: 40%;
	float: left;
}

.textExcel{
	font-size: 12px;
	margin-top: -30px;
}

.tarifExcel{
	float: right;
	font-size: 12px;
	color: #09AAC1;
	margin-top: -5px;
	margin-right: 66px;
}

.dureeExcel{
	float: right;
	font-size: 12px;
	color: #FF9F07;
	margin-top: -5px;
	margin-right: 40px;
}

.panier{
	float: right;
	width: 6%;
	margin-top: -12px;
    margin-right: 20px;
}

.promotion{
	color: #FF4A07;
	margin-top:30px;
	float: left;
}

.mediasSociaux{
	width: 10%;
	float: right;
	margin-top: -40px;
}

.imgPromo{
	width: 7%;
	float: left;
}