div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    transition: max-height 0.2s ease-out;
}

input[type="date"]{
  color: #FF9F07;
}

.border{
	border-style: solid;
    border-width: 1px;
    border-color: #FF9F07;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.excel{
	position: relative;
    width: 30%;
    float: left;
    margin: 10px;
}

.textExcel{
	font-size: 12px;
	margin-top: -30px;
	overflow:hidden; /*magic*/
}

.tarifExcel{
	float: right;
	font-size: 12px;
	color: #09AAC1;
	margin-top: -5px;
	margin-right: 66px;
}

.dureeExcel{
	float: right;
	font-size: 12px;
	color: #FF9F07;
	margin-top: -5px;
	margin-right: 40px;
}

.panier{
	float: right;
	width: 6%;
	margin-top: -12px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.promotion{
	color: #FF4A07;
	margin-top:30px;
	float: left;
}

.mediasSociaux{
	width: 10%;
	float: right;
	margin-top: 30px;
    margin-bottom: 10px;
}

.imgPromo{
	display:block;
	width: 100%;
    margin-top: 13px;
    margin-left: 7px;
	color:#FF9F07;
	font-weight: 600;
}

.divMarginTop{
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
    margin-bottom: 35px;
}

.buttonPlus{
	color: #09AAC1;
    font-size: 25px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 42px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.borderFacture{
	border-style: solid;
    border-width: 1px;
    border-color: #FF9F07;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding:5px;
}

.titrePromo{
    background-color: #FF9F07;
    color: white;
    font-size: 10px;
    font-weight: 100;
    max-width: 43px;
    max-height: 12px;
    margin-left: -7px;
    margin-top: 0px;
    display: block;
    padding-left:2px;
}

.spanRabaisPromo{
	margin-top: -5px;
    margin-bottom: 5px;
    display: block;
}

.showDate{
	font-size: 10px;
    width: 80px;
    margin-left: -10px;
    display: block;
    margin-right: 10px;
    margin-top: 5px;
}

.idFacture{
	color: #FF4A07;
	margin: 19px;
	float: left;
}

.nameFacture{
	text-decoration: underline;
}

.confirmationFacture{
	color: #09AAC1;
	margin-left: 45px;
	margin-top: -12px;
}

.dateFacture{
	color: #FF9F07;
	float: right;
	margin-right: 200px;
}

.tarifFacture{
	color: #09AAC1;
	float: right;
	margin-right: 200px;
	margin-top: -35px;
}

.detailFacture{
    font-size: 12px;
    color: black;
    float: left;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 640px;
    margin-top: -30px;
}

.titreDisplay{
	font-size: 12px;
	margin-left: 60px;
}

.tarifDisplay{
	font-size: 12px;
	float: right;
	margin-right: 180px;
}

.rabaisDisplay{
	font-size: 12px;
	float: right;
	margin-right: 180px;
	color:#FF4A07;
}

.promoDisplay{
	font-size: 12px;
	margin-left: 60px;
	color:#FF4A07;
}

.none{
	display: none;
}

.imagePromo{
	background-color: #f9f9f9;
	position: relative;
	float: left;
    height: 45px;
    width: 45px;
	margin-top: 34px;
	margin-left: 10px;
	border: solid 1px #FF9F07;
}

.imgToolBob{
    width: 10px;
    height: 10px;
    display: block;
    float: right;
    position: absolute;
    margin-left: 34px;
    margin-top: -1px;
}

.paddingContent{
	padding: 7px!important;
}

.selectPromo{
    padding: 6px;
    width: 132px;
    background-color: #FF9F07;
    color: black;
    font-size: 10px;
}

.imgPromoModif{
    display: block;
    border: 1px solid #FF9F07;
    height: 112px;
    width: 130px;
    font-size: 40px;
    font-weight: 500;
    color: #FF9F07;
    background-color: #f9f9f9;
}

.spanRabais{
	display: block;
    padding: 27px;
    margin-top: 5px;
}

.formPromo{
    float: right;
    margin-top: 10px;
    margin-right: -10px;
}

.labelPromo{
    font-weight: 600;
}

.btnBob{
	font-size: 22px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 4px;
    display: block;
}

.btnBobAjout{
	margin-left: 18px;
}

.centerDiv{
	display:none;
}

.showCenter{
	position: absolute;
    display: block;
    background-color: #d3d3d3;
    border: solid 1px #000000;
    width: 300px;
    padding: 30px;
    margin-left: 52px;
    margin-top: -175px;
}

.cursorPointer{
	cursor: pointer;
}

.confirmationButtons{
    border: 1px solid #000000;
    float:left;
    display: block;
    margin-top: 10px;
    width: 35px;
    padding: 6px;
    margin-left: 65px;
}